*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    margin-top: 50px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin: 20px 0;
    text-align: center;
}


#btn-dark-mode{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    width: 170px;
    height: 57px;
    border: none;
    cursor: pointer;
    margin: 50px 0;
    border: 1px white solid;
    font-size: 20px;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.numeros{
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.numeros input{
    width: 195px;
    height: 41px;
    color: #fff;
    background-color: #1E1E1E;
    border-radius: 10px;
    border: .5px solid #fff;
    text-align: center;
}

.numeros input::placeholder{
    color: #ffffffa1;
    padding: 0 5px;
}

.operaciones{
    display: flex;
    gap: 12px;
}

.operaciones button{
    background-color: #1E1E1E;
    width: 108px;
    height: 31px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: .5px solid #fff;
}


#resultado{
    text-align: center;
    font-size: 22px;
}

.red{
    color: #f00;
}

#calcular{
    cursor: pointer;
}
p{
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

.dark-mode{
    background: #000000;
    color: #ffffff;
}
